<div class="about" id="about">
    <h1>Roshan Padmanabhan</h1>
    <p>A young and a motivated individual on his path to success.</p>
    <p>Lorem ipsum dolor sit amet. Et atque galisum ut dolorem omnis est facilis quisquam id pariatur consequatur non delectus ipsum vel minus ipsum et quas galisum. Ea rerum sint ea nulla nulla ea nostrum asperiores id numquam quidem.</p> 

    <p>Ut Quis veniam eum repellat aspernatur eum modi ipsam ut atque voluptas eum placeat esse sed incidunt voluptatem. Sed facere nulla vel accusamus internos cum quod enim qui Quis magnam qui numquam deserunt est numquam corrupti?</p>

    <p>Sed voluptatum consequatur aut autem dolore et autem expedita et accusamus Quis qui blanditiis voluptatibus ut laboriosam dolorum et dolorem quis. Vel sunt mollitia quo repudiandae possimus ea galisum quam et provident distinctio qui mollitia quos. A porro ullam sed officia quidem est veniam consequatur?</p>
</div>