<div class="about" id="about">
    <h1><div class="title">Who am i?</div></h1>
    <div class="containter">
        <div class="box">
            <img src="/images/me.jpg" id="pic1"/>
            <h3 class="text-through">Roshan it is.</h3>
            <p>I've spent the last 8 years learning various languages and applications. I started my journey from C++ and then slowly learnt Java, SQL, C#, Unity C#, HTML, PHP, .Net, CSS and JavaScript.</p>
            <p>I am currently a student studying Computer programming and in my final year. I have a peer interest in 3D animations and Video Game Development and have self learnt making 3D models, designs and arts.</p> 
            <p>In the recent days, I'm learning to become a Mean/Mern stack developer and I'm even in the process of learning and making games.</p> 
            <p>Out of the office, You'll find me playing piano, practicing martial arts and reading books.</p>
        </div>

        <div class="opp-bot">    
            <h1><div class="collab">I am ready to take on opportunities</div></h1>
            <p id="bot">If you have any interesting offers or projects, <a href="/contact" style="text-decoration: 1px underline;">Let's talk</a> with a cup of hot chocolate!</p>
        </div>
    </div>
</div>