<div class="about" id="about">
    <h1>Roshan Padmanabhan</h1>
    <div class="containter">
        <div class="box">
            <p class="subhead">I'm Roshan, a CS student studying various computer languages and concepts in Canada.</p>
            <p>I've spent the last 8 years learning various languages and applications. I started my journey from C++ and then slowly learnt Java, SQL, C#, HTML, PHP, .Net, CSS and JavaScript.</p>
            <p>I am currently learning the fundamentals to become a MERN/MEAN stack developer.</p>
        </div>
    </div>
</div>