<div class="contact" id="contact">
    <div class="top-content">
        <h1>Get in touch.</h1>
        <h1>Let's work together.</h1>
    </div>
    <h2><div class="title">Contact</div></h2>
    <div class="contact-container">
        <div class="contact-container-box">
            <div class="left-text">
                <h3>Inquiries:</h3>
                <p>Choose an option on the right to contact me. For quick response, please email me.</p>
                <p>(Do check Spam folders for my response)</p>

            </div>
           <div class="right-text">
                 <!--icons are taken from an icon kit from https://fontawesome.com--> 
                <div class=" right-text-content">
                    <i class="fa-regular fa-envelope fa-2x" ></i><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=roshan.padmanabhan07@gmail.com" target="_blank">roshan.padmanabhan07@gmail.com</a>
                </div>
                <div class=" right-text-content">
                    <i class="fa-brands fa-linkedin fa-2x" ></i><a href="https://www.linkedin.com/in/roshan-padmanabhan-9abaa8251/" target="_blank">Roshan Padmanabhan</a>
                </div>
                <div class=" right-text-content">
                    <i class="fa-solid fa-phone fa-2x"></i><a href="/contact">+1 (647)-676 6503</a>
                </div>
            </div>
        </div>
    </div>
</div>