<div class="home"> 
    <h1>Hi! I'm <a href='/about' class="roshan">Roshan</a>.</h1>
    <p> I am <span id="switch"></span>.</p> {{!-- span uses id switch where the content will be changed over time. --}}
</div>


