<div class="home" id="home">
    <h1>Hi, I'm Roshan</h1>
    <p>I am a Developer</p>
</div>
<div class="about" id="about">
    <h1>Roshan Padmanabhan</h1>
    <p>A young and a motivated individual on his path to success.</p>
</div>