<div class="project" id="project">
    <div class="top-container">
        <h1><div class="title">My projects</div></h1>
        <h4>Take a look at my previous works and WIP's.</h4>      
    </div>
    <div class="works-container">
        <div class="w-box">
            <div class="w-box-segment">
                <p class="head">Designs</p>
                <section class="content">
                    <p> Here are some of my favourites creations. </p>
                    <div class="grid-container">
                        <a href="/images/works/design1.png" target="_blank"><img src="/images/works/design1.png" class="grid-item" /></a>
                        <a href="/images/works/design2.png" target="_blank"><img src="/images/works/design2.png" class="grid-item" /></a>
                        <a href="/images/works/design5.jpg" target="_blank"><img src="/images/works/design5.jpg" class="grid-item" /></a>      
                        <a href="/images/works/design4.png" target="_blank"><img src="/images/works/design4.png" class="grid-item" /></a>
                        <a href="/images/works/design3.png" target="_blank"><img src="/images/works/design3.png" class="grid-item" /></a>
                        <a href="/videos/AnimeNightFinal.mp4" target="_blank"><video src="/videos/AnimeNightFinal.mp4" class="grid-item" type="video/mp4" muted class="vid" loop ></a>
                        <a href="/images/works/design6.png" target="_blank"><img src="/images/works/design6.png" class="grid-item" /></a>
                        <a href="/images/works/wip2.png" target="_blank"><img src="/images/works/wip2.png" class="grid-item" /></a>
                        <a href="/images/works/design7.png" target="_blank"><img src="/images/works/design7.png" class="grid-item" /></a>
                    </div>
                </section>
            </div>
            <div class="w-box-segment">
                <p class="head">WIP</p>
                <section class="content">
                    <p>Here is a peek at my WIP's. I am currently working on few games and some other projects. Some are videos, click to preview them.</p>
                    <div class="grid-container">
                        <a href="/images/works/wip1.png" target="_blank"><img src="/images/works/wip1.png" class="grid-item" /></a>
                        <a href="/images/works/wip4.png" target="_blank"><img src="/images/works/wip4.png" class="grid-item" /></a>
                        <a href="/images/works/wip3.png" target="_blank"><img src="/images/works/wip3.png" class="grid-item" /></a>
                        <a href="/images/works/wip5.png" target="_blank"><img src="/images/works/wip5.png" class="grid-item" /></a>
                        <a href="/videos/GlitchyText.mp4" target="_blank"><video src="/videos/GlitchyText.mp4" class="grid-item" type="video/mp4" muted class="vid" loop ></a>
                        <a href="/videos/Mario.MT.mp4" target="_blank"><video src="/videos/Mario.MT.mp4" class="grid-item" type="video/mp4" muted class="vid" loop ></a>
                        <a href="/videos/SunSetAnim.mp4" target="_blank"><video src="/videos/SunSetAnim.mp4" class="grid-item" type="video/mp4" muted class="vid" loop ></a>
                    </div>
                </section>
            </div>
        </div>
        <div class="opp-bot">    
            <h1><div class="collab">I am ready to take on opportunities</div></h1>
            <p id="bot">If you have any interesting offers or projects, <a href="/contact" style="text-decoration: 1px underline;">Let's talk</a> with a cup of hot chocolate!</p>
            
        </div>
    </div>
</div>