.top-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(23, 23, 23) ;
    height: 250px;
    padding-left: 200px;
    text-shadow: 0 0 6px #fff; 
    animation: glow 3s infinite;
}

@keyframes glow {
    0%{
        text-shadow: 0 0 6px #fff; 
    }
    51%{
        text-shadow: none; 
    }
    90%,100%{
        text-shadow: 0 0 6px #fff; 
    }
    
}

.contact h2{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 90px;
    height: auto;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #ee7752, #e73c7e, #23a6d5, #23d5ab); 
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 10;
    animation: fadeIn 1.5s ease, gradient-text 15s ease infinite;
    line-height: 1.75;
    text-align: center;
}

.contact h3{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.top-content h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.contact-container{
    display: flex;
    flex-direction: column;
    padding: 4em;
    padding-top: 20px;
}

.contact-container-box{
    display: flex;
}

.left-text{
    color: white;
    padding: 20px;
    padding-left: 70px;
}

.frm{
    width: 100%;
    padding: 30px;
display: flex;
justify-content: center;

}
.frm-content{   
    width: 500px;
}
label{
    color: #fff;
}

form .btn{
    background-color: #242424;
    color: #fff;
    transition: 0.2s;
}

form .btn:hover{
    transition: 0.2s;
    background-color: #454545;
    color: #fff;
    text-shadow: 0 0 10px #fff; 
}