@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.project{
    padding-bottom: 30px;
    /* height:100%; */
    position: relative;
  }
  
  .project h1 .title{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 90px;
    height: auto;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #ee7752, #e73c7e, #23a6d5, #23d5ab); 
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 10;
    animation: fadeIn 1.5s ease, gradient-text 15s ease infinite;
    line-height: 1.75;
  }

  .top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, transparent  0%,transparent  10%, #242424 68%,#242424 100%);
    margin-bottom: 120px;
  }
  
  .project h4{
    color: aliceblue;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    animation-delay: 1s;
    animation: fadeIn 1.5s ease;
  }

  .works-container{
    max-width: 1400px;
    margin: 0 auto;
    z-index: 1;
    height: auto;
    margin-bottom: 40px;
  }

  .w-box{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  .w-box-segment{
    display: flex;
    flex-direction: column;
  }

  .head{
    border-bottom: #444444 2px solid;
    border-top: #444444 2px solid;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    /* padding-left: 90px; */
    font-size: 30px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }

  .content{
    margin-top: 100px;

    margin-bottom: 150px;

    padding-top: 10px;

  }

  .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: none;
    row-gap: 10px;
    column-gap: 10px;
    width: auto;

  }

  .grid-item{
    width: 480px;
    height: 270px;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    transition: 1s;
  }

  .grid-item:hover{
    transition: 0.5s;
    border-radius: 20px;
    border: #fff 2px solid;
  }

  .content p{
    color: #fff;
    font-size: 20px;
    text-align: center;
  }